streamlit>=1.45.0
Authlib>=1.3.2
SQLAlchemy
pg8000
gunicorn
psycopg2-binary
cloud-sql-python-connector
python-dotenv
fsspec
gcsfs
google-genai
pandas
numpy
streamlit-audiorecorder
streamlit_extras
requests
